<footer class="page-footer red darken-4">
       <div class="container">
         <div class="row">
           <div class="col l6 s12">
             <h5 class="white-text">Contactanos ...</h5>
             <p class="grey-text text-lighten-4">contacto@menjar.com</p>
             <p class="grey-text text-lighten-4">Carrera 45 N° 26-85, Bogota D.C., Colombia</p>
           </div>
           <div class="col l4 offset-l2 s12">
             <h5 class="white-text"> Nuestras redes</h5>
             <ul>
               <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
             </ul>
           </div>
         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © Menjar
         <a class="grey-text text-lighten-4 right" href="#!">Universidad Nacional de Colombia</a>
         </div>
       </div>
     </footer>



<!--
red darken-4
-->
