<div class="row red darken-4">
  <div class="col l5 s12 offset-l1">
    <h5 class="white-text">Footer</h5>
    <p class="grey-text text-lighten-4">Página en progreso...</p>
  </div>
  <div class="col l4 offset-l2 s12">
    <h5 class="white-text">Links</h5>
    <ul>
      <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
      <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
      <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
      <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
    </ul>
  </div>
</div>

  <div class="footer-copyright center-align red darken-4">
    © 2017 Copyright Menjar
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
