<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Menjar</title>

<link rel="shortcut icon" type="image/x-icon" href="resources/index/favicon.ico" />
<!-- Import Google Icon -->
 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- CSS - Materialize -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<!-- Custom -->
<link rel="stylesheet" href="css/index/styles.css">
<link rel="stylesheet" href="css/index/map.css">
<link rel="stylesheet" href="css/index/products.css">
